@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <div class="card">
        <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
                Scratchpad Checklist
            </h4> 

            <!-- Badge -->
            <span class="badge text-bg-secondary-subtle">
                23 Archived
            </span>

        </div>
        <div class="card-body">

            <!-- Checklist -->
            <div class="checklist" tabindex="0">
                <div class="form-check" tabindex="0">

                    <a><i data-feather="check"></i> Feito </a>
                    <a><i data-feather="trash"></i> Apagar </a>

                    <label class="form-check-label">Delete the old mess in functions files.</label>
                </div>
                <div class="form-check" tabindex="0">
                    <input class="form-check-input" type="checkbox" id="checklistTwo">
                    <label class="form-check-label">Refactor the core social sharing modules.</label>
                </div>
                <div class="form-check" tabindex="0">
                    <input class="form-check-input" type="checkbox" id="checklistThree">
                    <label class="form-check-label">Create the release notes for the new pages so customers get psyched.</label>
                </div>
                <div class="form-check" tabindex="0">
                    <input class="form-check-input" type="checkbox" id="checklistFour">
                    <label class="form-check-label">Send Dianna those meeting notes.</label>
                </div>
                <div class="form-check" tabindex="0">
                    <input class="form-check-input" type="checkbox" id="checklistFive">
                    <label class="form-check-label">Share the documentation for the new unified API.</label>
                </div>
                <div class="form-check" tabindex="0">
                    <input class="form-check-input" type="checkbox" id="checklistSix" checked="">
                    <label class="form-check-label">
                        Clean up the Figma file with all of the avatars, buttons, and other
                        components.
                    </label>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Input -->
                    <textarea class="form-control form-control-flush form-control-auto" data-autosize="" 
                    rows="1" placeholder="Adicione uma nota nota . . ." style="overflow: hidden; overflow-wrap: break-word; text-align: start; height: 25px;"></textarea>

                </div>
                <div class="col-auto">

                    <!-- Button -->
                    <button class="btn btn-sm btn-primary" fdprocessedid="j4fgz">
                        Adicionar
                    </button>

                </div>
            </div> <!-- / .row -->
        </div>
    </div>
</div>